
:root{
    --primary-clr:#3fefef;
    --font-family:arial;
}
.workshop-container .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item-container {
    position: relative;
    z-index: 2;
   
    width: 290px;
    height: 390px;
    overflow: hidden;
    background-color: #999;
    box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.img-container,
.body-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.img-container img {
    width: 100%;
    height: auto;
}

.body-container {
    position: relative;
}

.overlay {
    position: relative;
    width: 100%;
    height: 250px;
    background-color: rgba(24, 83, 122, 0.6);
    opacity: 0;
    transition: height linear 0.4s, opacity linear 0.2s;
}

.item-container:hover .overlay {
    opacity: 1;
    height: 150px;
}

.event-info {
    /* background-color: #000; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
background: rgba(13, 12, 12, 0.77);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(20px);
-webkit-backdrop-filter: blur(20px);
border: 1px solid rgba(13, 12, 12, 1);
}

.title,
.price {
    color: var(--primary-clr);
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
    letter-spacing: 1px;
}

.info {
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.separator {
    width: 20%;
    height: 3px;
    background-color: white;
    margin-bottom: 16px;
    margin-bottom: 5px;
    margin-top: -15px;
}

.additional-info {
    margin-top: -14px;
    padding: 28px;
    padding-bottom: 0;
}

.additional-info .info {
    font-size: 0.9em;
    margin-bottom: 20px;
    text-align: center;
}

.info i {
    color: var(--primary-clr);
    font-size: 1.1em;
    margin-right: 4px;
}

.info span {
    color: var(--primary-clr);
    font-weight: bolder;
}

.action {
    color: #fff;
    border: 3px solid #fff;
    background-color: transparent;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    outline: none;
    cursor: pointer;
    padding: 12px;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    letter-spacing: 2px;
    transition: background-color 0.4s, top 0.4s;
}

.item-container:hover .action {
    top: 50px;
}

.action:hover {
    background-color: rgb(24, 83, 122,0.8);
}
.action a{
    color:white;
}
.workshop-container::-webkit-scrollbar {
    display: none;
  }
  .workshop-container{
    height: calc(100vh - 165px);
    overflow: scroll;
}
@media (max-width:1200px){
    .workshop-container{
        height: calc(100vh - 120px);
    }
}
  /* .all-con{
    inset: 5px;
    position: relative;
 
    height: 120%;

    background-color: #3f3f3f;


  }

  .all-con::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 120%;
    height: 120%;
    scale: 1;
    background: linear-gradient(tranaparent, #4573ff, #4573ff);
    transform-origin: bottom right;
    animation: round 6s linear infinite ;
    animation-delay: -3s;
    
  }
  @keyframes round {
    0%{
        transform: rotate(0deg);

    }
    100%{
        transform: rotate(360deg);

    }
  } */
  .boxy{
    inset: 2px;
   
    padding: -20px;
  }
  .boxy{
    position: relative;
  
  padding: 5px 5px;
    background: black;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    width: fit-content;
    margin: 12px auto;

}


.boxy::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 120%;
    
    height: 100%;
    scale: 1;
    background:  #3efefe;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.boxy::after{
    content:'';
    z-index: 1;
    position: absolute;
    top: -50%;
    left: -50%;
    scale: 1.2;
    width: 120%;
    height: 120%;
    background:  #3efefe;
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform: rotate(360deg);

    }
}

/* tabs */
.tab-cont{
    width: 100%;
    max-width:1000px;
    margin:20px auto;
}
.tab-cont li{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-cont li a.tab-a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 10px;
    padding: 5px 8px;
    position: relative;
}
.tab-cont li a.tab-a:hover ,.tab-cont li a.tab-a.active{
    color: black;
}
.tab-cont li a.tab-a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--primary-clr);
    z-index: -1;
    box-shadow: 0 0 10px var(--primary-clr),
                0 0 20px var(--primary-clr),
                0 0 40px var(--primary-clr);
    transition: 0.25s;
}
.tab-cont li a.tab-a:hover::before,.tab-cont li a.tab-a.active::before{
    width: 100%;
}

/* Workshop end */

/* Events CSS */

/* new tabs */
.tab-cont{
    width: 100%;
    max-width:1000px;
    margin:20px auto;
}
.tab-cont li{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tab-cont li a.tab-a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 2px;
    color: #fff;
    margin: 0 10px;
    padding: 5px 8px;
    position: relative;
}
.tab-cont li a.tab-a:hover ,.tab-cont li a.tab-a.active{
    color: black;
}
.tab-cont li a.tab-a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background: var(--primary-clr);
    z-index: -1;
    box-shadow: 0 0 10px #00a870,
                0 0 20px var(--primary-clr),
                0 0 40px var(--primary-clr);
    transition: 0.25s;
}
.tab-cont li a.tab-a:hover::before,.tab-cont li a.tab-a.active::before{
    width: 100%;
}




.tab-content{
    padding: 10px;
    /* border:1px solid white; */
}
.row>*{
    display: grid;
    place-items: center;
    margin: auto;
}
.event-name{
    font-size: 24px;
    font-weight: 500;
}
.small-detail{
  background-color: initial!important;
  color: #fff!important;
  display: block;
  font-size: .9rem;
        line-height: 2vh!important;
        max-height: 18vh;
  padding-top: 40px;
} 
.event-card{
    width: 225px;
    height: 275px;
    position: relative;
}
.event-card img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index:-1;
    border-radius: 10px;
    border:1px solid  rgba(38, 156, 188,1);
    overflow: hidden;
}
.event-details{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 38px;
    overflow: hidden;
    transition: height .5s ease;
    left: 0;
    display: flex;
    align-items: start;
    flex-direction: column;
}
.event-details>*{
    margin: 3px;
}
.event-details>*:nth-child(1){
    margin-top: 3px;
}
.event-details>*:last-child{
    margin-bottom: 3px;
}
.event-btns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.event-card:hover .event-details{
height: 130px;
}
.event-name{
    color:white;
}

.event_title {
    background-image: url("https://techfest.org/static/resources/competitions/Rectangle 173.png");
    background-size: cover;
    width: 163px;
    height: 35px;
    padding-left: 10px;
    color: #fff !important;
    position: absolute;
    bottom: 0;
    left: 0px;
    top: 0px;
    background-repeat: no-repeat;
    margin-left: -5px;
}
    .event-details{
        height: 125px;
        background: rgba(13, 12, 12, 0.77);
        box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
        backdrop-filter: blur(20px);
    }
    .event-card:hover img{
        filter: blur(0px);
    }
    .event-card:hover::before{
        opacity: 0;
    }
    .event-btns button{
        width: 90%;
        background-color: transparent;
        border: 1px solid white;
    }
    .event-btns button:nth-child(1){
        margin-right: 1px;
        margin-left: -10px;
    }
    .event-btns button:nth-child(2){
        margin-left: 1px;
}
.event-title{
    font-size: 20px;
    font-weight: 700;
}
.small-details{
    font-size: 15px;
}
.small-details span{
    color:#3efefe;
}
.event-btns{
    padding-top: 3px;
    width: 90%;
    margin-left: 15px;
}
.event-btns button{
    width: fit-content;
    padding: 2px 8px;
}

.boxy{
    padding: 3px;
   
   
    margin: 30px;
  }
  .boxy{
    position: relative;
  
 
    background: black;
    border-radius: 10px;
    overflow: hidden;
    transition: 1s;
    width: fit-content;
    /* margin: 12px auto; */

}


.boxy::before{
    content:'';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 120%;
    
    height: 100%;
    scale: 1;
  
    background:  #3efefe;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
.boxy::after{
    content:'';
   
    position: absolute;
    top: -50%;
    left: -50%;
    scale: 1;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(transparent, var(--primary-clr));
    transform-origin:bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
@keyframes animate{
    0%{
        transform:rotate(0deg)
    }
    100%{
        transform: rotate(360deg);

    }
}
.modal{
    z-index:1000000000;
}
.field{
    display: flex;
    flex-wrap: wrap;
}
.field label{
    width: 200px;
    font-size: 20px;
}
.field input{
    width: 100%;
    font-size: 18px;
    color:black;
}
.register-form-submit-btn{
    border: none;
    font-size: 18px;
    padding: 5px 10px;
    background-color: #3efefe;
    border-radius:10px;
}
.modal-content {
    border: 2px solid transparent;
    background: linear-gradient(71deg, #080509, #1a171c, #080509);
    background-clip: padding-box;
    border-radius: 25px;
    padding: 20px;
}
.field{
    position: relative;
    margin-top: 15px;
}
.field input{
    background-color: transparent;
    border: none;
    outline: none;
}
.field i{
        position: absolute;
        bottom: 0;
        left: 0;
        height: 4px;
        background-color: var(--primary-clr);
        width:100% ;
        pointer-events: none;
        transition: height .5s;
}
.field input:focus ~ i {
        height: 28px;
        color: black;
        z-index: 1;
    }
    .field input:focus{
    z-index: 2;
        color: black;
        font-weight: 700;
}
.field input{
    color:white;
}

/* Events End */